<!-- home.ejs -->

<%- include('partials/header') %>

<div class="cover"></div>
<div class="main-title vertical-center">
  <h1>CIPHER-CHAT</h1>
  <hr>
  <p>CHAT BOT</p>
  <a href="http://localhost:3000/question" id="down"><i class="arrow down"></i></a>
</div>

<%- include('partials/footer') %>
